<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

      .custom-button {
                 background-color: #186A3B;
                 color: white;
                 padding: 10px 20px;
                 border: none;
                cursor: pointer;
  }
        body {

            background-color: #CCD1D1;
            color: white;
        }
    </style>

</head>
<body>
<h2>Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
    <input type="text" name="last_name" placeholder="Enter your  lastname"><br><br>
    <input type="email" name="email" placeholder="Enter your  email"><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br><br>

    <button class="custom-button">submit</button>


</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>